[profile.default]
src = "src"
out = "out"
libs = ["lib"]
via_ir = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

remappings = [
  '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/',
  '@uniswap-v3/contracts/=lib/v3-core/contracts/',
  '@solmate/src/=lib/solmate/src/'
]